{% extends 'base.html' %}

{% block title %}Create Appointment{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4" style="font-size: 36px; font-weight: bold; color: #0056b3;">Create Your Profile</h2>

    <form method="post" class="mx-auto"
        style="max-width: 600px; background-color: #f9f9f9; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        {% csrf_token %}

        <div class="form-group row mb-4">
            <label for="{{ form.doctor.id_for_label }}" class="col-md-4 col-form-label"
                style="font-size: 18px; font-weight: bold;">Doctor Name</label>
            <div class="col-md-8">
                {{ form.doctor }}
            </div>
        </div>

        <div class="form-group row mb-4">
            <label for="{{ form.date.id_for_label }}" class="col-md-4 col-form-label"
                style="font-size: 18px; font-weight: bold;">Date</label>
            <div class="col-md-8">
                {{ form.date }}
            </div>
        </div>

        <div class="form-group row mb-4">
            <label for="{{ form.time.id_for_label }}" class="col-md-4 col-form-label"
                style="font-size: 18px; font-weight: bold;">Time</label>
            <div class="col-md-8">
                {{ form.time }}
            </div>
        </div>

        <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg" style="font-size: 18px; width: 100%;">Schedule
                Appointment</button>
        </div>
    </form>
</div>

{% endblock %}